

body {
    background-color: #00FFFF;
}

h1 {
    background-color: #F0F8FF;
}

p {
    background-color: #136bb8;
    padding: 5px;
    margin: 0px;
}

ul {
    background-color: #136bb8;
}

h2 {
    background-color: #5F9EA0;

}